---
layout: layouts/base.njk
title: Home
---
 <div><h2>
          Melanie Archer 
      </h2>
      <p>I am a front-end developer (JavaScript, CSS) working on projects in the U.S. Pacific time zone (UTC-8).</p>
      
          <ul>
            <li><a href="mailto:mejarc@pm.me?subject=ping%20from%20twobanjos">Contact me</a></li>
      
        <li>
          <a href="//www.linkedin.com/in/mejarc">
            LinkedIn 
          </a>
        </li>
      </ul></div>