<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>{{ site.name }}: {{ title }} </title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400&family=Trirong:wght@500&display=swap" rel="stylesheet" /> 
    <link rel="stylesheet" href="{{ '/css/all.css' | url }}">
  </head>
  <body>
  <div class="page">
	{% include '../partials/header.njk' %}
  {% include '../partials/nav.njk' %}
<main>
  {{ content | safe }}
</main>
	{% include '../partials/footer.njk' %}
</div>
  <script src="{{ '/js/scripts.js' | url }}"></script>
  </body>
</html>
