   <nav class="nav" role="navigation">
      <ul>
        <li class="item"><a  class="active" href="/about-me/">About me</a></li>
        <li class="item"><a  class="active" href="/portfolio/">Portfolio</a></li>
        <li class="item"><a href="mailto:mejarc@gmail.com?subject=ping%20from%20twobanjos">Ping</a></li>
        <li class="item"><a  class="active" href="/about-site/">About this web site</a></li>
        </ul>
    </nav>